* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

/* navbar design */
nav {
    padding: 5px;
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

nav>p {
    font-size: 36px;
    color: #e6533c;
    font-weight: bold;
    font-style: italic;
}

nav>div {
    border: 1px solid rgb(72, 71, 71);
    display: flex;
    gap: 47px;
    align-items: center;
    border-radius: 39px;
    padding: 2px 5px;
}

nav>span {
    margin-right: 5px;
    display: none;
}

.home-btn {
    background-color: #e6533c;
    padding: 5px 10px;
    border-radius: 46px;
}


/* banner section styling */

.banner-container {
    padding: 10px;
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 50px;
}

.banner-left {
    min-height: 200px;
    width: 50%;
}

.banner-left>h1 {
    font-size: 78px;
}

.banner-left>p {
    margin-top: 28px;
    margin-bottom: 28px;
}

.btn-container>button {
    width: 200px;
    height: 54px;
    border-radius: 42px;
    color: white;
}

.banner-right {
    min-height: 200px;
    width: 50%;
    display: flex;
    justify-content: end;
    position: relative;
}

.banner-right>img {
    width: 55%;
}

.tooltip {
    background-color: rgba(128, 128, 128, 0.302);
    position: absolute;
    right: -10%;
    width: 193px;
    height: 98px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 12px;
    top: 17%;
}

.tooltip2 {
    background-color: rgba(70, 68, 68, 0.302);
    position: absolute;
    padding: 20px;
    border-radius: 12px;
    left: 23%;
    top: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.ball {
    width: 50px;
    height: 50px;
    background-color: #e6533c;
    border-radius: 50%;
}


/* Change Your Habits Styling */
.habits-heading {
    text-align: center;
    margin-top: 80px;
}

.habits-heading h2 {
    font-size: 2.8rem;
    font-weight: 900;
}

.habits-heading p {
    font-size: 0.8rem;
    font-weight: 300;
    color: #808080;
    line-height: 24px;
    letter-spacing: 0.8px;
    margin-bottom: 58px;
}

.Habits-container {
    max-width: 1060px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.circle {
    width: 231px;
    height: 273px;
    text-align: center;
}

.circle img {
    border-radius: 100%;
}

.circle h2 {
    font-size: 1.1rem;
    color: #FFFFFF;
    font-weight: 600;
    margin: 15px 0px 10px;
}

.circle p {
    font-size: 1rem;
    font-weight: 300;
    color: #808080;
}



/* Run an Extra Section Start */

.run-container {
    max-width: 1060px;
    margin: 0 auto;
    height: 371px;
    background-color: #222222;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 18px;
    gap: 165px;

}


.run-title {
    margin-left: 20px;
    align-items: center;
    padding: 25px;

}

.run-title h2 {
    font-size: 3rem;
    font-weight: 900;
    color: #FFFFFF;
    margin-top: 14px;
}

.run-title p {
    font-size: 0.8rem;
    font-weight: 400;
    color: #808080;
    margin-bottom: 34px;
    letter-spacing: 0.4px;
}

.btn-primary {
    padding: 12px 40px;
    background-color: #e6533c;
    border-radius: 12px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
}

.run-images {
    align-items: center;
}


.run-images img {
    width: 366px;
    height: 312px;
    border-radius: 12px;
    display: block;
    margin: 25px auto;
    align-items: center;
    justify-content: center;
}


/* Exercises-container Styling */
.Exercises-title {
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 100px;
}

.Exercises-title h2 {
    font-size: 3rem;
    font-weight: 900;
    color: #FFFFFF;
}

.Exercises-title p {
    font-size: 0.8rem;
    font-weight: 300;
    color: #808080;
    margin-top: 14px;
}


.Exercises-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 1060px;
    margin: 0 auto;
}

.Exercises-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.lorem {
    position: absolute;
    border: 2px solid red;
    top: 60%;
    left: 20%;
}

/* team section start */
.our-team-title {
    text-align: center;
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 80px;
}

.our-team-title>h2 {
    font-size: 3rem;
    font-weight: 900;
    color: #FFFFFF;
}

.our-team-title>p {
    font-size: 1rem;
    font-weight: 400;
    color: #808080;
    margin: 10px auto 58px;
}

.team-parents {
    max-width: 1060px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 20px;

    margin-bottom: 50px;
}

.team-parents img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}



.team-member {
    position: relative;
}

.member-id,
span {
    position: absolute;
    bottom: 5%;
    left: 5%;
}


/* footer section styling */

.background-color {
    background-color: #1a1a1a;
    height: 400px;
    margin-bottom: 400px;
}


.footer-parenst {
    max-width: 1060px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 88px;
    margin-bottom: 50px;
}

.left-side-footer {
    grid-column: span 2;
}

.left-side-footer>h2 {
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    color: #e6533c;
}

.left-side-footer>p {
    font: 0.5rem;
    font-weight: 400;
    color: #8d8d8d;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 20px;
}

.primary-paragraph {
    font-size: 1rem;
    color: #8d8d8d;
    line-height: 120%;
    font-weight: 300px;
}

.middle-side-footer>p,
.right-side-footer>p {
    margin-top: 1rem;
    margin-left: 5px;
}

.right-side-footer>h2,
.middle-side-footer>h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
}

.right-side-footer,
.middle-side-footer,
.left-side-footer {
    margin-top: 66px;
}



.footer-bottom {
    max-width: 1060px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.footer-bottom>p {
    margin-top: 36px;
    font-size: 1rem;
    font-weight: 400;
    color: #8d8d8d;
}





/* Media Query Start */




@media screen and (max-width:576px) {
    .menu-container {
        display: none;
    }

    nav>span {
        margin-right: 5px;
        display: inline;
    }

    /* banner section Responsive */
    .banner-container {
        flex-direction: column;
    }

    .banner-right,
    .banner-left {
        width: 100%;
    }

    .banner-right>img {
        width: 100%;
    }


    .tooltip {
        top: 10%;
        left: 50%;
    }

    .Habits-container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .circle {
        margin: auto;
    }

    /* run section responsive */

    .run-container {
        height: 700px;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
        margin: 0px 10px;
    }

    .run-title h2 {
        font-size: 2rem;
        text-align: center;
    }

    .run-title p {
        text-align: center;
    }

    .btn-primary {
        margin-left: 100px;

    }

    .run-images img {
        margin: 0px auto;

    }

    .Exercises-container {
        grid-template-columns: repeat(2, 1fr);
    }


    .box {
        display: none;
    }

    /* our team section Responsive */
    .team-parents {
        margin: 0 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    /* footer section Responsive  */
    .footer-parenst {
        grid-template-columns: repeat(1, 1fr);

    }

    .left-side-footer {
        grid-column: span 1;
    }

    .background-color {
        height: 900px;
        text-align: center;

    }

}